*.pyc
*.*~
*~
*.class
build
tags
.DS_Store
*_host.js
barker/users.pickle
barker/webui/proxy/node_modules
dist
*.log
/datawire-j/target
/tests/target
.classpath
.project
.pydevproject
.settings/
/datawire.egg-info
